APP_ENV=testing
DB_CONNECTION=mysql
DB_DATABASE=website_papa_v2_testing
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
RULE_ENGINE_URL=http://127.0.0.1:8081
TZ=Asia/Bangkok
LC_ALL=C.UTF-8
ALLOW_DIRTY=0

