APP_ENV=testing
DB_CONNECTION=mysql
DB_DATABASE=website_papa_v2_testing
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_COLLATION=utf8mb4_0900_ai_ci
RULE_ENGINE_URL=http://rule-engine-go:8081
TZ=Asia/Jakarta
LC_ALL=C.UTF-8
ALLOW_DIRTY=0
